<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhi.dao.ProfitMapper">

    <select id="queryProfitByMonth" resultType="Profit">
        select sum(o_num*price-o_num*cost) profit,year(o_time) year, month(o_time) month
        from purchase
        group by year(o_time),month(o_time)
   </select>

</mapper>